* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #033270;
  }
  
  a:visited {
    text-decoration: none;
    color: #1368AA;
  }
  
  a:hover {
    color: #1368AA;
    transition-duration: 1s;
  }

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    padding: 0;
}

.menu__nav-li {
    transition: all linear 1s;
    color: #033270;
}

.menu__nav__lista {
    display: flex;
    list-style: none;
    width: 19rem;
    justify-content: space-between;
}

.sobre__mim {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3.5rem;
    background-color: rgba(157, 206, 226, 0.2);
}

.sobre__mim-img {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 200px;
    margin: 1rem 2.5rem;
    animation-name: slidein;
    animation-duration: 5s; 
    display: block;
}

@keyframes slidein {
    0% { opacity: 0.1;}
    100% { opacity: 1;}
}

.sobre__mim__texto {
    line-height: 1.2rem;
}

.assinatura-img {
    width: 70px;
    margin: 0.5rem;
    position: absolute;
}

.sobre__mim__redes {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    background-color: rgba(157, 206, 226, 0.2);
    padding-bottom: 1rem;
}

.sobre__mim__redes img {
    height: 28px;
}

.sobre__mim__texto-ola {
    color: #EF3C2D;
    display: block;
}

.sobre__mim__texto-autor {
color: #EF3C2D;
padding-top: 5px;
display: block;
}

.titulo__sessoes {
    text-align: center;
    margin: 5rem 0 0.5rem 0;
    color: rgba(0, 0, 0, 0.834);
    text-emphasis: 'x' #033270;
    font-size: 1.5rem;
}

.skills {
    
}

.projetos__individuais {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projetos__individuais-box {
    margin: 0.5rem;
}

.titulo-projeto {
    font-size: 15px;
}

.foto-projeto {
    /* border-radius: 2.5%;
    overflow: hidden; */
    height: 300px;
    width: 300px;
}

.sobre-projeto {
    font-size: 14px;
    width: 300px;
    height: 50%;
}

.cursos__container {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    gap: 20px;   
}

.cursos__container-box {
    width: 300px;
    text-align: center;
    background-color: rgba(137, 43, 226, 0.09);
    padding: 10px;
    margin: 0.5rem;
}

.cursos__container p {
    font-size: 1rem;
}

.logo-dh, .logo-rocketseat, .logo-coursera  {
    width: 200px;
    padding: 10px;
}

.logo-xp {
    width: 100px;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 1rem 0;
}

.contatos img {
    height: 28px;
}

.contatos p {
    font-size: 0.8rem;
}




@media (max-width: 975px) {

    .sobre__mim {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .sobre__mim__texto {
        text-align: center;
    }

    .sobre__mim__redes {
        margin-top: 3.5rem;
    }

    #projetos {
        flex-direction: column;
        align-items: center;
    }

    .cursos__container {
        flex-direction: column;
        align-items: center;
    }
    
}