* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #033270;
  }
  
  a:visited {
    text-decoration: none;
    color: #1368AA;
  }
  
  a:hover {
    color: #1368AA;
    transition-duration: 1s;
  }

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    padding: 0;
}

.menu__nav-li {
    transition: all linear 1s;
    color: #033270;
    font-size: 1rem;
}

.menu__nav__lista {
    display: flex;
    list-style: none;
    width: 19rem;
    justify-content: space-between;
}

.sobre__mim {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3.5rem;
    background-color: rgba(157, 206, 226, 0.2);
}

.sobre__mim-img {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 200px;
    margin: 1rem 2.5rem;
    animation-name: slidein;
    animation-duration: 5s; 
    display: block;
}

@keyframes slidein {
    0% { opacity: 0.1;}
    100% { opacity: 1;}
}

.sobre__mim__texto {
    line-height: 1.2rem;
}

.assinatura-img {
    width: 70px;
    margin: 0.5rem;
    position: absolute;
}

.sobre__mim__redes {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    background-color: rgba(157, 206, 226, 0.2);
    padding-bottom: 1rem;
}

.sobre__mim__redes img {
    height: 28px;
}

.sobre__mim__texto-ola {
    color: #EF3C2D;
    display: block;
}

.sobre__mim__texto-autor {
color: #EF3C2D;
padding-top: 5px;
display: block;
}

.titulo__sessoes {
    text-align: center;
    margin: 2.5rem 0;
    color: rgba(0, 0, 0, 0.834);
    text-emphasis: 'x' #033270;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

.skills__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills__container-box {
    background-color: rgba(242, 148, 121, 0.2);
    width: 174px;
    height: 176px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
}

.skills-img {
    width: 36px;
    padding-bottom: 0.5rem;
}

.projetos__individuais {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.projetos__individuais-box {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(242, 148, 121, 0.2);
}

.projetos__individuais-box-titulo {
    font-size: 1rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.foto-projeto {
    border-radius: 5px;
    /*overflow: hidden; */
    width: 300px;
    opacity: 1;
    transition: opacity 1s linear 0s;
}

.foto-projeto:hover {
    opacity: 0.5;
    cursor: pointer;

}

.projetos__individuais-texto {
    font-size: 0.9rem;
    width: 300px;
    padding-bottom: 0.8rem;
}

.projetos__individuais-box-btn {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.85rem;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #ef3d2d96;
}

.projetos__individuais-box-btn a {
    color: #000000;
}

.cursos {
    background-color: rgba(157, 206, 226, 0.2);
}

.cursos__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
}

.cursos__container-box {
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    margin: 0.5rem;
}

.titulo-curso {
    font-size: 1.1rem;
}

.cursos__container p {
    font-size: 0.9rem;
}

.contato {
    background-color: rgba(157, 206, 226, 0.2);
}

.contato__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato__img {
    width: 300px;
    min-width: 100px;
    margin: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 1rem;
}

.logo-dh, .logo-rocketseat, .logo-coursera  {
    width: 200px;
    padding: 10px;
}

.logo-xp {
    width: 100px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 1rem 0;
}

.redes-sociais img {
    height: 28px;
}

.redes-sociais p {
    font-size: 0.8rem;
}




@media (max-width: 975px) {

    .sobre__mim {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .sobre__mim__texto {
        text-align: center;
    }

    .sobre__mim__redes {
        padding-top: 3.5rem;
    }

    .skills__container {
        align-items: center;
    }

    #projetos {
        flex-direction: column;
        align-items: center;
    }

    .cursos__container {
        padding: 0.5rem;
    }
    
}