* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    width: 100%;
}

html,
body {
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

input:active {
    background-color: #46434310;
}

main {
    display: block;
  }

.home {
    color: #E51B3E;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
} 

li:hover {
    text-decoration: none;
     border-radius: 10px;
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.4); 
  }

.botao {
    visibility: hidden;
    margin-left: 80px; 
}

.lista-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    font-size: 19px; 
    color: #171717;     
}

.menu-topo {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;    
}

.banner {
    background-image: url(../img/imagemFundo.png);
    background-repeat: no-repeat;
    height: 1023px;
    background-size: cover;
}

.conteudo-banner {
    display: flex;
    flex-direction: column;
    height: 1023px;
    align-items: center;
    justify-content: center;  
}

.conteudo-banner::after {
    content: "";
    z-index: 8;
    width: 100% ;
    height: 41%;
    margin-top: 640px;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0)0, rgba(0,0,0,0) 40%, rgb(255, 255, 255) 100%);
}

.conteudo-banner h1 {
    color: #E51B3E;
    font-weight: 900;
    font-size: 62px;
}

.conteudo-banner p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    padding: 30px;
}

.botao-explorar {
    width: 320px;
    height: 70px;
    background: rgba(51, 187, 105, 0.05);
    border: 1px solid #33BB69;
    border-radius: 12px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

.botao-explorar:hover {
    cursor: pointer;
}

.banner-cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card-filme {
    height: 650px;
    display: inline;
}

#itens {
    font-size: 44px;
    padding: 20px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    gap: 10px;
    margin: 20px;
    text-align: center;
}

.titulos {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    padding: 10px;
}

.texto-filme {
    background-color: #f4f4f4;
    position: relative;
    top: -250px;
    border-radius: 10px;
    padding: 10px;
    height: 386px;
}

.descricao {
    width: 311px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 290;
    text-align: justify ;
    padding: 10px;
}

.botao-abrir {
    margin: 50px 30px;
    background-color: #33BB69;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-size: 20px;
    border-color: #33BB69;
    border-style: none;
}

.botao-abrir:hover {
    cursor: pointer;
}

/* Rodapé */

#rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #171717;
    padding: 10px;
}

.item-rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rodape-fim {
    background-color: #171717;
    text-align: center;
    padding: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

.links {
    display: flex;
    gap: 10px;
}

.nomes {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.foto {
    display: flex;
}

.foto img {    
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-left: 20px;
}

.dev {
    color: rgba(255, 255, 255, 0.75);
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


/* Página de login */

.caixa-login {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 530px;
    height: 510px;
    border-radius: 12px;
    margin: 180px 0 140px 0;
}

.fundo-login {
    background-image: url(../img/imagemFundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box {
    display: flex;
    justify-content: center;
    
}

.formulario-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.formulario-login input {
    border: 1px solid #A4A4A4;
    border-radius: 12px;
    height: 60px;
    padding: 10px;
    font-size: 15px;
}

.formulario-login label {
    color: rgba(0, 0, 0, 0.75);
}

.botao-entrar {
    margin: 30px;
    height: 60px;
    background-color: #33BB69;
    color: #ffffff;
    border: 1px solid #A4A4A4;
    border-radius: 12px;
    height: 60px;
    padding: 10px;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    background-color: #33bb699a;
}

input:hover {
    border-color: #E51B3E;
}

/* Páginas Movies */

.movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.banner-movie img {
  width: 80vw;
}

.movies {
    width: 1200px;
    text-align: justify;
}

.movies h1 {
    font-size: 40px;
    font-weight: 900;
    margin: 10px 0;
    text-transform: uppercase;
}

.resumo {
    margin: 15px 0;
}

.diretor-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    gap: 240px;
    
}

.diretor-nomes {
    display: flex;
    gap: 200px;
    color: rgba(0, 133, 255, 0.75);
}


.trailer h2 {
    font-size: 30px;
    font-weight: 900;
    margin: 15px 0 0 0;
}

.youtube {
    margin: 15px;
}


/* Responsividade */

@media (max-width: 428px) {

    .botao {
        visibility: visible;
    }

    .lista-menu {
        visibility: hidden;
    }

    .menu-topo {
        justify-content: space-around;
    }

    .banner {
        background-image: url(./img/fundobanner.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #rodape {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 25px;
    }

        .conteudo-banner h1 {
            font-weight: 900;
            font-size: 40px;
        }
        
        .conteudo-banner p {
            font-size: 15px;
            font-weight: 300;
            padding: 30px;
            text-align: center;
        }

        .botao-explorar {
            width: 200px;
            height: 60px;
        }

        .login-box {
            max-width: 80%;
        }

        .fundo-login {
            background-image: url(./img/fundobanner.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .area-login {
            max-width: 80%;
        }

        .area-login img {
            max-width: 90%;
        }
}

@media (max-width: 688px) { 

    .lista-menu {
        flex-direction: column;
        gap: 5px;
    }

    #rodape {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    .conteudo-banner p {
        font-size: 22px;
        font-weight: 300;
        padding: 30px;
        text-align: center;
    }

    .botao-explorar {
        width: 200px;
        height: 60px;
    }
}

