/*
Para class utilizar o . antes de defini-la
Para id utilizar # antes (é único, nao pode se repetir para outros elementos)
Regras hierarquia para css


*/

/* body {
    height: 100px;
    margin-left: 500px;
    margin-right: 500px;
    align-items: center;
    text-align: justify;
}*/



body {
    margin-left: 500px;
    margin-right: 500px;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    
    text-align: justify;

    background-color: rgb(223, 215, 185);
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;

}

.anitta {
    position: relative;
    left: 300px;    
    top: 50px;
}

.icones {
    position: relative;
    left: 300px;    
    top: 50px;
    width: 80px;
}

h1 {
    color: rgb(51, 51, 51);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

.job-title {
    background-color: #2a7a92;
    color: rgb(223,215,185  );
    font-size: 20px;
    font-weight: bold;  
    padding: 5px 10px 5px 10px;
}

#high {
    color: rgb(51,51,51);
    font-family: 'Open Sans', sans-serif;
}

#cursos {
    color: rgb(51,51,51);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

ul {
    background-color: #359ebebd;
    color: rgb(223, 215, 185);
    padding: 10px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.foto-head {
    border: solid #1726ad;
    
}

.voltar {
    background-color: #2a7a92;
    color: white;
    padding: 5px 10px 5px 10px;
    font-family: 'Silkscreen', cursive;
    font-size: 14px;
    margin: 1% 44%;
    text-align: center;
}

.info {
    background-color: #2a7a92;
    color: rgb(223,215,185  );
    padding: 10px;
    font-size: 14px;
    margin: 20px 260px;
    text-align: center;
}

